h1 {
    color: #feffff;

    text-align: center;
    font-size: 50px;
    font-family: 'Andale Mono';
    letter-spacing: 20px;
}



div {
    color: #055068;
}

hr {
    background-color: #055068;
    height: 20px;


}

head {
    background-color: #93d0e5;
}


body {
    background-color: #06012d;
}

h2 {
    color: #feffff;
    font-family: 'verdana';

}

.aboutme {
    background-color: #343535;
}

.experience {
    background-color: #343535;
}

.projects {
    background-color: #343535;
}

.contact {
    background-color: #343535;
}



.intro {

    text-align: center;
    color: #feffff;
    font-family: 'verdana';
}

#image1 {
    width: 200px;
    height: 300px;
    object-fit: cover;
    float: right;
    border-radius: 2px;
    border: solid;
    border-color: #fdffff;
}

#image2 {
    width: 200px;
    height: 300px;
    object-fit: cover;
    float: left;
    border-radius: 2px;
    border: solid;
    border-color: #fdffff;
}

.aboutmediv {
    padding-bottom: 350px;
}

.roles {
   
}